*{
    --awa-dark-purple: #350363;
    --awa-highlight-purple: #4c0290;
    --awa-darkest-purple: #170f20;
    --awa-dp-hover: #1e003c;

}

nav.navbar {
    font-family: 'Roboto', sans-serif;
    border-radius: 3rem;
    background-color: #433253;
    /* font-family: 'Smooch Sans', sans-serif; */
    
}
body{
    background-color: #352d3d;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
}

.nav-link {
    font-size:x-large;
}

.bg-purple{
    background-color: #433253 !important;
}


.btn{
    border-radius: 2rem;
}

.btn-primary{
    --bs-btn-bg: var(--awa-dark-purple);
    --bs-btn-border-color: var(--awa-dark-purple);
    --bs-btn-hover-bg: var(--awa-highlight-purple);
    --bs-btn-hover-border-color: var(--awa-highlight-purple);

}

main {
    padding: 0.5rem;
}

.f-panel{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    background-color: var(--awa-darkest-purple);
}

.bg-darkest-purple{
    background-color: var(--awa-darkest-purple) !important;
    --bs-card-border-color: #6e4999;
    --bs-card-border-width: 1px;
    /* --bs-card-border-radius: 2rem; */
    color: white;
}

.filter-card{
    color: white;
    --bs-card-bg:var(--awa-darkest-purple);
    --bs-card-border-color: #6e4999;
    --bs-card-border-radius: 2rem;
}

.btn-outline-secondary{
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    --bs-btn-border-color: #6e4999;
    --bs-btn-color: white;
}


.event-card{
    background-color: var(--awa-darkest-purple) !important;
    --bs-card-border-color: #6e4999;
    --bs-card-border-width: 1px;
    border-radius: 2rem;
    color: white;
    overflow: hidden;
    perspective: 1px;
}


.event-card a {
    text-decoration: none;
    color: white;
}
.event-card:not(#details-card):hover{
    background-color: var(--awa-dp-hover) !important;
}

.breadcrumb-item :not(.active){
    text-decoration: none;
    color: white;
    font-weight: bold;
}


th, td, tr{
    background-color: var(--awa-darkest-purple) !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) > *{
    --bs-table-accent-bg: var(--awa-dp-hover) !important;
}


.cost-text{
    font-size: 4rem;
    color: wheat;
    font-family: 'Roboto', sans-serif;
}

.bottom-text{
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
}
#Ticket-quantity{
    max-width: 50px;
    text-align: center;
    background-color: var(--awa-darkest-purple);
    color: white;
    border-color: #6e4999;
}
#plus-button, #minus-button{
    --bs-btn-border-color: #6e4999;
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-bg: #6e4999;
    --bs-btn-hover-border-color:#a97edb;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color:#fff;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #433253;
}

