{% extends 'base.html' %}
{% import "bootstrap/form.html" as wtf %}

{% block content %}
{% block extra_head %}
<!-- For external CSS -->
<!-- <link rel="stylesheet" href= "{{ url_for('static',filename='styles/detail.css')}}" /> -->
<link rel="stylesheet" href= "{{ url_for('static',filename='styles/detailPage.css')}}" />
<!--Icons-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}  
<!-- flashes any messages to the user -->
{% with messages = get_flashed_messages() %}
{% if messages %} <!-- check if there are any messages -->
  <div class="container-fluid">
    <div class="row mt-3 mb-3">
      <div class="col-md-12">
      {% for message in messages %} <!--loop through the messages-->
        <div class="alert alert-info">{{ message }}</div> <!--display as alert-->
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}


<div class="row justify-content-center align-items-start">
  <div class="col-12 col-lg-8" style="max-width: 70rem;">
      <h1>{{ event.event_name }}</h1>
      <div class="card event-card" id="details-card">
          <img class="card-img-top" src="{{event.event_image}}" alt="Title"
              >
          <div class="card-body">
            <form class="d-flex form-inline justify-content-end" role="search">
              <button class="btn searchbtn" type="submit">
              Edit
              </button>
          </form>
              <h4 class="card-title">About This Event</h4>
              <div class="card-text row">
                  <p class="col-12 col-md-8">{{ event.event_description }}</p>
                  <div class="col-12 col-md-4 widget-pane">
                    <ul>
                      <li><i class="bi bi-calendar-event" ></i>&nbsp{{ event.event_StartDateTime.strftime("%d/%m/%Y") }} {%if event.event_StartDateTime.strftime("%d/%m/%Y") != event.event_EndDateTime.strftime("%d/%m/%Y")%} to {{event.event_EndDateTime.strftime("%d/%m/%Y")}}{%endif%} </li>
                      <li><i class="bi bi-clock" ></i>&nbsp{{ event.event_StartDateTime.strftime("%H:%M")}} to {{event.event_EndDateTime.strftime("%H:%M")}}</li>
                      <li class="{%if event.event_Status == 'Cancelled'%} bg-warning {%elif event.event_Status == 'Sold Out'%} bg-danger  {%elif event.event_Status == 'Open'%} bg-success{%endif%}"><i class="bi bi-exclamation-circle" ></i>&nbsp{{ event.event_Status }}</li>
                      <li><i class="bi bi-currency-dollar" ></i>&nbsp{{ event.event_TicketPrice }}</li>
                      <li><i class="bi bi-geo-alt" ></i>&nbsp{{ event.event_location }}</li>
                      <li><i class="bi bi-hand-thumbs-up" ></i>{%for i in range(5)%}{%if i+1 > (event.event_rating|float) and ((event.event_rating|float) - (event.event_rating|int)) != 0 %} <i class="bi bi-star-half" ></i> {%elif i < (event.event_rating|int)%} <i class="bi bi-star-fill" ></i> {%else%} <i class="bi bi-star" ></i>{%endif%}{%endfor%}</li>
                    </ul>
                  </div>
              </div>
              <div class="card-footer text-muted">
                  Created by <em>{{event.author.user_name|capitalize}}</em>
              </div>

          </div>
      </div>

  </div>
  <div class="grid-container">
    <div class="item7">      
      <div>
        {{wtf.render_form(orderForm,"/events/{0}/book".format(event.event_id))}} 
      </div>
    </div>

    <div class="item5">
      <div class="comment">                      
        <div class="card comment">
            <div class="row border-bottom">
              {{wtf.render_form(commentForm,"/events/{0}/comment".format(event.event_id))}} 
              {% for comment in event.comments %} 
              <div class="col-md-12">  
                  <b>{{ comment.user.user_name }}</b> <span class="ml-2 text-muted tex time-made">{{ comment.comment_created_at }}</span>
                  <p class="comment-text">{{ comment.comment_text }}</p>  
              </div>  
              {% endfor %}
            </div>
        </div>  
      </div>
    </div>
  </div>
{% endblock %}