{% extends 'base.html' %}
  
  {% block content %}
  {% block extra_head %}
  <!-- For external CSS -->
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/history.css')}}" />
  {% endblock %}
    <div class="grid-container">
        <div id="create-maintitle">
          <h4 class="booking_title">My bookings</h4>
          <div class="card-group row">
            {% for event in myevents %}

            <!-- start card -->
          {% include 'card.html' %}
          <!-- end card -->
            <!-- <p>{{event.event_name}}</p>
            <div class="col-md-4 com-sm-6">
               <div class="card">
                  <img class="card-img-top"
                     src="{{ event.event_image }}">
                  <div class="card-body">
                     <h5 class="card-title">{{ event.event_name }}</h5>
                     <p class="card-text">{{ event.event_description }}</p>
                  </div>
                  <div class="card-footer">
                     <a href = "{{url_for('event.show', id=event.event_id)}}" class ="btn btn-danger"> View Details </a>   
                  </div>
               </div>
            </div> -->



            {% endfor %}
         </div>
        </div>
        <div class="card mb-3">
          <div class="row ">
            <div class="col-md-4 history-img">
              <img src="{{url_for('static', filename='img/tennis_card.jpg')}}" class="img-fluid " alt="...">
              
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="row history">
                  <p class="card-title col history_title">QLD Open 2022 Tennis </p>
                  <p class="card-title col " id="open">Open</p>
                </div>
                
                <p class="location"><img src="node_modules/bootstrap-icons/icons/geo-alt.svg" alt="">&nbsp Kedron-Wavell Services Club
                  21 Kittyhawk Dr, Chermside QLD</p>
                <p class="date"><img src="node_modules/bootstrap-icons/icons/clock.svg" alt="">&nbsp Sat, 22 Oct: 5:00 – 11:30 pm</p>
                <p class="booking_id">Booking ID: QWE123</p>
                <p class="card-title col date">Booking Date: 16-09-22</p>
              </div>
              <div class="history-button">
                
                <button type="button" class="btn searchbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Cancel
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to cancle the booking?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Based on our policy, no refund will be processed if you are canceling 48hours before the event.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn searchbtn" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn searchbtn" id="proceed">Proceed</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn searchbtn" id="about" type="submit">
                  <a href="detail.html" class="detail-link">About</a>
                </button>
              </div>
              
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row ">
            <div class="col-md-4 history-img">
              <img src="{{url_for('static', filename='img/tennis_card.jpg')}}" class="img-fluid " alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="row history">
                  <p class="card-title col history_title">QLD Open 2022 Tennis  </p>
                  <p class="card-title col " id="cancelled">Cancelled</p>
                </div>
                
                <p class="location"><img src="node_modules/bootstrap-icons/icons/geo-alt.svg" alt="">&nbsp Kedron-Wavell Services Club
                  21 Kittyhawk Dr, Chermside QLD</p>
                <p class="date"><img src="node_modules/bootstrap-icons/icons/clock.svg" alt="">&nbsp Sat, 22 Oct: 5:00 – 11:30 pm</p>
                <p class="booking_id">Booking ID: QWE123</p>
                <p class="card-title col date">Booking Date: 16-09-22</p>
              </div>
              <div class="history-button">
                <button type="button" class="btn searchbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Cancel
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to cancle the booking?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Based on our policy, no refund will be processed if you are canceling 48hours before the event.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn searchbtn" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn searchbtn" id="proceed">Proceed</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn searchbtn" id="about" type="submit">
                  <a href="detail.html" class="detail-link">About</a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="row ">
            <div class="col-md-4 history-img">
              <img src="{{url_for('static', filename='img/tennis_card.jpg')}}" class="img-fluid " alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="row history">
                  <p class="card-title col history_title">QLD Open 2022 Tennis  </p>
                  <p class="card-title col " id="cancelled">Cancelled</p>
                </div>
                
                <p class="location"><img src="node_modules/bootstrap-icons/icons/geo-alt.svg" alt="">&nbsp Kedron-Wavell Services Club
                  21 Kittyhawk Dr, Chermside QLD</p>
                <p class="date"><img src="node_modules/bootstrap-icons/icons/clock.svg" alt="">&nbsp Sat, 22 Oct: 5:00 – 11:30 pm</p>
                <p class="booking_id">Booking ID: QWE123</p>
                <p class="card-title col date">Booking Date: 16-09-22</p>
              </div>
              <div class="history-button">
                <button type="button" class="btn searchbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Cancel
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want to cancle the booking?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Based on our policy, no refund will be processed if you are canceling 48hours before the event.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn searchbtn" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn searchbtn" id="proceed">Proceed</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn searchbtn" id="about" type="submit">
                  <a href="detail.html" class="detail-link">About</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
