{% extends 'base.html' %}
  
  {% block content %}
    <div class="container-f1">
      <div class="container-f2">
        
      
        <div id="create-maintitle">
          <div class="row row-title">
            <h3 class="title">My bookings</h3>
          </div>
          <div class="card-group row">
            {% for event in myevents %}
            <!-- start card -->
            {% include 'myevents_card.html' %}
            <!-- end card -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
