{% extends 'base.html' %}
  
  {% block content %}
  {% block extra_head %}
  <!-- For external CSS -->
  <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css')}}" />
  {% endblock %}
    <div class="container-fl">
      <!-- row2 -->
      <div class="container-f2">
        <div class="row row-carousel">
          <div class="col-12">
            <!-- For Carousel-->
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="{{url_for('static', filename='img/surfing_carousel.jpg')}}"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="{{url_for('static', filename='img/soccer_carousel.jpg')}}"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="{{url_for('static', filename='img/swim_carousel.jpg')}}"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <!-- row 3 -->
        <div class="row row-title">
          <h3 class="title">Most Popular Events</h3>
        </div>
        <!-- row 4 evnets cards -->
        <div class="row row-card">
          <div class ="col-lg-4">
            <div class="card">
              <img
                src="{{url_for('static', filename='img/tennis_card.jpg')}}"
                class="card-img-top"

                alt="..."
              />
              <div class="container">
                <div class="row context first">
                  <p class="card-title col main">QLD Open 2022 Tennis</p>
                  <p class="card-title col" id="inactive">Inactive</p>
                </div>
                <div class="row context second">
                  <p class="card-text col-sm-12">
                    Sun, 25 Sept, 2:00 – 5:00 pm
                  </p>
                </div>
                <div class="row context third">
                  <p class="card-text col-sm-12">
                    Suncorp Stadium, 40 Castlemaine St, Milton QLD
                  </p>
                </div>
                <div class="row context button">
                <a href="detail.html" class="btn btn-coral">See the events</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img
                src="{{url_for('static', filename='img/tennis_card.jpg')}}"
                class="card-img-top"
                alt="..."
              />
              <div class="container">
                <div class="row context first">
                  <p class="card-title col main">QLD Open 2022 Tennis  </p>
                  <p class="card-title col " id="open">Open</p>
                </div>
                <div class="row context second">
                  <p class="card-text col-sm-12">
                    Sun, 25 Sept, 2:00 – 5:00 pm
                  </p>
                </div>
                <div class="row context third">
                  <p class="card-text col-sm-12">
                    Suncorp Stadium, 40 Castlemaine St, Milton QLD
                  </p>
                </div>
                <div class="row context button">
                <a href="detail.html" class="btn btn-coral">See the events</a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img
                src="{{url_for('static', filename='img/tennis_card.jpg')}}"
                class="card-img-top"
                alt="..."
              />
              <div class="container">
                <div class="row context first">
                  <p class="card-title col main">QLD Open 2022 Tennis </p>
                  <p class="card-title col " id="cancelled">Cancelled</p>
                </div>
                <div class="row context second">
                  <p class="card-text col-sm-12">
                    Sun, 2 Oct, 7:30 – 9:00 pm
                  </p>
                </div>
                <div class="row context third">
                  <p class="card-text col-sm-12">
                    Suncorp Stadium, 40 Castlemaine St, Milton QLD
                  </p>
                </div>
                <div class="row context button">
                <a href="detail.html" class="btn btn-coral">See the events</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
