
{% extends 'base.html' %}


{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-12 border form-format">

        <h2 class="form-title my-4">Login</h2>
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}

        {{form.password.label(class="form-label mt-2")}}
        {{form.password(class="form-control")}}

        {{ form.submit(class="btn btn-outline-primary my-2 form-button") }}
      
        <!-- When you have login form, then do show the user a link to register -->
        {% if heading|lower =='login' %}
        <div class="col-md-6 mb-5 ml-5">
            <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}