.event-card{
    height: auto;
    --bs-card-border-width: 1px;
    border-radius: 2rem;
    overflow: hidden;
    perspective: 1px;
}

.event-card img {
    all:unset;
}

.widget-pane{
    text-align: center;
}
ul{
    display: inline-block;
    text-align: left;
}

li{
    list-style: none;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}

.bg-warning, .bg-success, .bg-danger{
    display: block;
    border-radius: 4px;
    color: white;
}

#order_num_tickets{
    max-width: 50%;
}

#order_submit, #comment_submit{
    background-color: white !important;
    color: rgb(255, 99, 42);
    border: 1px solid rgb(255, 99, 42)!important;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#order_submit:hover, #comment_submit:hover{
    background-color: rgb(255, 99, 42) !important;
    color: white;
    border: 1px solid rgb(255, 99, 42)!important;

}


h3{
    text-align: left;
}


.card{
    height: auto;
    min-height: 540px;
}



@media screen and (max-width: 760px) {
    #order_num_tickets{
        max-width: 100%;
    }

    .widget-pane{
        text-align: left;
    }
}

  
html {
    height: 100%;
}
  
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}




