{%extends 'base.html'%}
{% import "bootstrap/form.html" as wtf %}

{%block title%}{{event.name}}{%endblock%}
{%block filterPanel%}
{%endblock%}

{%block content%}
<div class="row justify-content-center align-items-start">
                <div class="col-12 col-lg-8" style="max-width: 70rem;">
                    <h1>{{event.event_name}} ({{event.event_StartDateTime}})</h1>
                    <!-- {%if event.state == 'open'%}
                    <span type="button" class="btn btn-outline-secondary"
                        style=" border-color: #519949; background-color: #081907;" data-bs-toggle="button">Open</span>
                        {%endif%} -->
                    <span type="button" class="btn btn-outline-secondary"
                        style=" border-color: #494d99; background-color: #070819;" data-bs-toggle="button">{{event.event_type}}</span>
                        <!-- {%for but in event.tags%}
                    <span type="button" class="btn btn-outline-secondary" style="background-color: #100719;"
                        data-bs-toggle="button">but</span>
                        {%endfor%} -->
                    <div class="card event-card" id="details-card">
                        <img class="card-img-top" src="{{url_for('static', filename='/img/00163-555379670-technology, socialization , Simon Stalenhag.png')}}" alt="Title"
                            style="max-width: 1000px;">
                        <div class="card-body">
                            <!-- <h4 class="card-title">{{event.subtitle}}</h4> -->
                            <div class="card-text">
                                {{event.event_description}}
                            </div>
                            <div class="card-footer text-muted">
                                <!-- Last updated {{event.last_updated}} ago, created by '{{event.author}}' -->
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xl-4" style="max-width: 35rem;">
                    <div class="card event-card" id="details-card" style="margin-top: 2rem;">
                        <div class="card-body">
                            <h4 class="card-title"><b>Buy Tickets</b></h4>
                            <div class="card-text d-flex flex-column align-items-center">
                                <!-- <h5 class="cost-text">
                                    ${{event.event_TicketsAvailable}}
                                </h5> -->
                                <br>
                                <p class="bottom-text" style="margin-top: 1rem;">{{event.event_TicketsAvailable}}</p>
                                <p class="bottom-text">Tickets Left</p>
                            </div>
                        </div>
                        <div class="card-footer d-flex felx-direction-row ">

                            <div class="input-group mb-3 " style="padding-top: 0.8rem;">
                                <button class="btn btn-outline-info" type="button" id="minus-button"><i
                                        class="bi bi-dash"></i></button>
                                <input type="text" class="form-control input-number" value="1"
                                    aria-label="Ticket Quanitity" aria-describedby="plus-button" id="Ticket-quantity">
                                <button class="btn btn-outline-info" type="button" id="plus-button"><i
                                        class="bi bi-plus"></i></button>
                            </div>
                            <a type="button" class="btn btn-outline-secondary col-5 text-center" href="#"
                                style="border-color: #519949; background-color: #081907; padding-top: 0.5rem;">
                                <h4 style="font-weight: bold;">Buy</h4>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center align-items-start">
                <div class="col-12 col-lg-8" style="max-width: 70rem;">
                    <h2 style="font-weight: bold; color: white;">Comments</h2>
                    <div class="card event-card" id="details-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-floating col">
                                    <textarea class="form-control" style="background-color: #070819; color: white;"
                                        placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Write your comment here</label>
                                </div>
                                <a type="button" class="btn btn-outline-secondary col-lg-4 col-xxl-2" href="#"
                                    style="border-color: #519949; background-color: #081907; padding-top: 0.5rem;">
                                    <h4 style="font-weight: bold;">Post</h4>
                                </a>
                            </div>
                            <div id="commentHelp" class="form-text">
                                Logged in as '{{current_user.user_name}}'
                            </div>
                        </div>
                        <div class="item7">
                            <div class="back-book">
                                
                                <button class="btn searchbtn"  type="button" >
                                  Back
                                </button>
                                
                                <button class="btn searchbtn"  type="submit" class="btn searchbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="book">
                                  Book
                                </button>
                            </div>
                        </div>
                        
                        <a href="{{ url_for('event.book', eventid=event.event_id) }}">Book Event</a>
                        <div class="item5">
                            <div class="comment">                      
                              <div class="card comment">
                                  <div class="p-3">
                                      <h5>Comments</h5>
                                  </div>
                                  <div class="row border-bottom">
                                    {{wtf.render_form(commentForm,"/events/{0}/comment".format(1))}} 
                                    {% for comment in event.comments %} 
                                    <div class="col-md-12">  
                                        <b>{{ comment.user.user_name }}</b> <span class="ml-2 text-muted tex text-justify: right">{{ comment.comment_created_at }}</span>
                                        <p>{{ comment.comment_text }}</p>  
                                    </div>  
                                    {% endfor %}
                                  </div> 
                                  </div>
                    </div>
                </div>
            </div>

{%endblock%}

